.header {
    padding: 5px 10%;

    border-bottom: 1px solid #e0e0e0;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
}

.leftHeaderContainer {
    display: flex;
    align-items: baseline;
    column-gap: 15px;
}

.headerTest {
    border-bottom: 1px solid #e5e5e5;
}

.leftHeaderContainer .logo {
    text-decoration: none;

    font-size: 25px;
    font-weight: 600;
    color: #1599c5;

    min-width: 100px;
    cursor: pointer;
}

.rightHeaderContainer {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.button {
    padding: 5px 10px;
}
