.container {
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subTitle {
    margin-left: 2px;
    color: #b7b7b7;
}

.endLine {
    margin-top: 8px;
    border-bottom: 1px solid #d4d4d4;
}
