.container {
    display: inline-block;
    position: relative;
    border-radius: 12px;
}

.mark {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4dcfc7;
    cursor: pointer;
}

.markActive {
    background-color: #29cc2f;
}

.markCurrent {
    width: 16px;
    height: 16px;
    cursor: auto;
}

.backLine {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: #4dcfc7;

    border-radius: 3px;
    /* transform: translateY(-50%); */
}

.progressLine {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: #29cc2f;
}
