.container {
    display: inline-block;
    position: relative;
    border-radius: 12px;
}

.mark {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4dcfc7;
    cursor: pointer;
}

.markActive {
    background-color: #29cc2f;
}

.markNotFinished {
    background-color: #b7b7b7 !important;
}

.green {
    background-color: #29cc2f;
}

.yellow {
    background-color: #ecbe4a;
}

.red {
    background-color: #dc5d5d;
}

.markCurrent {
    width: 16px;
    height: 16px;
    cursor: auto;
}

.backLine {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: #4dcfc7;

    border-radius: 3px;
    /* transform: translateY(-50%); */
}

.progressLine {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: #29cc2f;
}

.counter {
    position: absolute;
    color: #b7b7b7;
}
