.rememberList {
    position: absolute;
    right: 5px;
    top: -44px;

    display: flex;
    flex-direction: row-reverse;
    column-gap: 8px;

    list-style: none;
}

.dateList {
    display: flex;
    flex-direction: column-reverse;
    gap: 1px;
    height: 40px;
    width: 10px;
}

.dateList li {
    min-height: 1px;
    height: 12px;
}

.rememberList .good {
    background-color: #29cc2f;
}

.rememberList .warn {
    background-color: #ecbe4a;
}

.rememberList .bad {
    background-color: #dc5d5d;
}

.tooltip {
    display: flex;
    flex-direction: column;

    font-weight: 400;
}
