.warn {
    color: #dc5d5d !important;
}

.today {
    color: #05c953 !important;
}

.statisticRow {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
}

.statisticTable {
    display: table;
    /* grid-auto-columns: auto; */
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.learned {
    color: #13a918;
}

.repeated {
    color: #dfa22d;
}

.subLabel {
    color: #b7b7b7;
    padding-bottom: 4px;
    padding-top: 28px;
}

tr:first-of-type .subLabel {
    padding-top: 16px;
}
