html,
body,
ul {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

#__next {
    height: 100%;
    display: grid;
    grid-template-rows: minmax(51px, auto) 1fr;
}

body {
    overflow-y: scroll;
    background-color: #f2f2f2;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
